<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="dbcon_ti2g" providerName="System.Data.SqlClient" connectionString="Data Source=203.153.105.247,1818;Initial Catalog=TI2G;User id=Hhary;Password=Hhary123"/>
    <add name="dbcon_ti3g" providerName="System.Data.SqlClient" connectionString="Data Source=203.153.105.247,1818;Initial Catalog=TI3G;User id=Hhary;Password=Hhary123"/>
    <add name="dbcon_lte" providerName="System.Data.SqlClient" connectionString="Data Source=203.153.105.247,1818;Initial Catalog=LTE;User id=Hhary;Password=Hhary123"/>
    <!--<add name="dbcon_ti2g" providerName="System.Data.SqlClient" connectionString="Data Source=N-20KEPC0X0CJS\SQLEXPRESS;Initial Catalog=TI2G;User id=dev;Password=Password1234"/>
    <add name="dbcon_ti3g" providerName="System.Data.SqlClient" connectionString="Data Source=N-20KEPC0X0CJS\SQLEXPRESS;Initial Catalog=TI3G;User id=dev;Password=Password1234"/>
    <add name="dbcon_lte" providerName="System.Data.SqlClient" connectionString="Data Source=N-20KEPC0X0CJS\SQLEXPRESS;Initial Catalog=LTE;User id=dev;Password=Password1234"/>-->
  </connectionStrings>
<appSettings>
  <add key="pathNA" value="E:\Nokia\TSEL\geotagdocument\static-photo\photo-na.png"/>
  <add key="pathPhoto" value="E:\Nokia\TSEL\geotagdocument\"/>
  <add key="apiurldemo" value="https://ineom.telkomsel.co.id/index.php/eatp/post_data.json"/>
  <add key="apitokenkeydemo" value="x94wIHEKpqJKVy4L798TGB19em7cu9lBhluhT5Cb1IPHZCLqAULu8BD2eyIvXpHXoto0tSMptWRyU0lCdUFw1sQePBtu5hZnlRdLlyjNe4LBMZXQVcXjpR4ve96EMTQG"/>
  <add key="logPath" value="E:\Nokia\TSEL\eatplog\"/>
</appSettings>
</configuration>
